<div class="box">
    <div class="box-header">
        <h3 class="box-title">菜单列表</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
              <tr>
                <th>ID</th>
                <th>MenuName</th>
                <th>CreateDate</th>
                <th>UserName</th>
                <th>Del</th>
            </tr>
            <tbody id="content">
            {{range $i,$v := .object.Object}}
            <tr >
                <td>{{$v.Id}}</td>
                <td>{{$v.MenuName}}</td>
                <td>{{$v.CreateDate}}</td>
                <td>{{$v.Name}}</td>
                <td class=""><a class="fa fa-close myclose" value="{{$v.Id}}" ></a></td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>

    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right" id="mypage" url={{.url}}>
                {{if  .object.Pref}}
                    <li class="page" id="prev" value=0><a href="#"  ><<</a></li>
                {{else}}
                    <li class="disabled page" id="prev" value=0><a href="#" ><<</a></li>
                {{end}}
                    <li class=""><a href="#" id="pages" >{{.object.Page}}</a></li>
                {{if  .object.Next}}
                    <li class="page" id="next" value=1><a href="#"  >>></a></li>
                {{else}}
                    <li class="disabled page" id="next" value=1><a href="#" >>></a></li>
                {{end}}
        </ul>
    </div>
</div>

<script type="text/javascript">
        // 准备字符串
    function PrepareString(result){
        console.log(result)
        for (var i = 0;i<result.Object.length;i++){
             var text = " <tr>"+
                    "<td>"+result.Object[i].Id+"</td>"+
                    "<td>"+result.Object[i].MenuName+"</td>"+
                    "<td>"+result.Object[i].CreateDate+"</td>"+
                    "<td>"+result.Object[i].Name+"</td>"+
                    "<td class=><a class='fa fa-close myclose' value='"+result.Object[i].Id+"'></a></td>"
                "</tr>"
            $("#content").append(text)
        }
    }

    function Delete(id){
        $.ajax({
            url: '/menu/delete',
            type: 'get',
            dataType: 'json',
            data: {"menuid": id},
            success:function(result){
                if (result.Ret != 200){
                    alert(result.Msg)
                    return false
                }
            }
        })        
    }
</script>

<!-- <h3>发布菜单</h3>
<div class="callout callout-success">
        <h4>Warning!</h4>

        <p><b>Menu Release</b> You have to be very careful because once the news is released, it can not be modified, it can only be deleted.</p>
</div>

   <div class="col-sm-12 " style="margin-top: 20px;" id="releasedish">
            <form>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="img" class="control-label" id="addimg">MenuImg</label>
                        <input type="file" id="img" class="hidden">
                    </div>
                    <div class="col-sm-8" >
                        <img src=""  id="showimg" style="height: 100px;width: 100px;" alt="菜单图片">
                    </div>
                </div>

                <div class="form-group ">
                    <label for="menuname" class="control-label">Name:</label>
                    <input type="text" class="form-control" id="menuname">
                </div>
                <div class="form-group">
                    <label for="describe" class="control-label">MenuDescription:</label>
                    <textarea class="form-control" id="describe"></textarea>
                </div>
                <button class="btn btn-default" id="createmenu" type="button">发布菜单</button>
            </form>
        </div>

<script type="text/javascript">
    
        $("#img").change(function(){
        imgPreview()
        console.log("123123123edflasdjfliJWN")
    })

     function imgPreview(){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = $("#img")[0].files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        reader.readAsDataURL(file)
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("showimg");
            //图片路径设置为读取的图片
            img.src = e.target.result;
            console.log(img)
        };
    }

    $("#img").change(function(){
        imgPreview()
    })
</script> -->