<div class="box">
    <div class="box-header">
        <h3 class="box-title">管理员列表</h3>
        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody id="newsbody"><tr>
                <th>ID</th>
                <th>管理员</th>
                <th>类型</th>
                <th>创建时间</th>
                <th>Del</th>
            </tr>

            <tr class="th">
                <td>10</td>
                <td>歌姬</td>
                <td>2018-04-27</td>
                <td>一起来聆听吧</td>
                <td class=""><a class="fa fa-close" value="3"></a></td>
            </tr>

            <tr class="th">
                <td>3</td>
                <td>加热比海盗来啦！</td>
                <td>2018-04-26</td>
                <td>5年的史诗巨作</td>
                <td class=""><a class="fa fa-close" value="3"></a></td>
            </tr>

            <tr class="th">
                <td>4</td>
                <td>劳拉O(∩_∩)O哈哈~</td>
                <td>2018-04-26</td>
                <td>古墓古墓古墓重要的事情说三遍！！！</td>
                <td class=""><a class="fa fa-close" value="3"></a></td>
            </tr>

            <tr class="th">
                <td>5</td>
                <td>环太平洋</td>
                <td>2018-04-26</td>
                <td>特效风暴来袭</td>
                <td class=""><a class="fa fa-close" value="3"></a></td>
            </tr>

            </tbody></table>
    </div>

    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right" id="newspage">

            <li class="disabled page" id="prev" value="0"><a href="#">&lt;&lt;</a></li>

            <li class=""><a href="#" id="pages">1</a></li>

            <li class="page" id="next" value="1"><a href="#">&gt;&gt;</a></li>

        </ul>
    </div>
</div>

<h3>增加用户</h3>
<div class="callout callout-danger">
                <h4>Attention!</h4>

                <p>Once the system user is created, it will have all permissions other than creating system users</p>
              </div>
<div class="container">



<div class="col-sm-6 col-sm-offset-2">
<div class="box box-primary collapsed-box ">
            <div class="box-header with-border">
              <h3 class="box-title">Create New SystemUser</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
                
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="display: none;">
                <form class="col-sm-8 col-lg-offset-2" style="margin-top: 30px;background-color: #ffeb3b91;padding: 10px;box-shadow: 10px 10px 5px #888888;border-radius:20px;margin-bottom: 20px; ">
                    <h4 class="text-center">申请单</h4>
                    <div class="form-group">
                        <label>请输入账户名</label>
                        <input type="text" name="" class="form-control" >
                        <span class="hidden"></span>
                    </div>
                    <div class="form-group">
                        <label>请输入密码</label>
                        <input type="text" name="" class="form-control" >
                        <span class="hidden"></span>
                    </div>
                    <div>
                        <button class="btn btn-info pull-right" type="button">Create</button>
                    </div>
                 </form>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center" style="display: none;">
              <a href="javascript:void(0)" class="uppercase">Clear</a>
            </div>
            <!-- /.box-footer -->
          </div>
          </div>
          </div>