<h3 class="col-sm-12">用户数据</h3>
<div class="col-sm-6 "><canvas id="chartjs-4" class="chartjs" width="770" height="385" style="display: block; width: 270px; height: 385px;"></canvas></div>
<div class="col-sm-6 "><canvas id="chartjs-5" class="chartjs" width="770" height="385" style="display: block; width: 270px; height: 385px;"></canvas></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.1/anchor.min.js"></script>
<script type="text/javascript">
    new Chart(document.getElementById("chartjs-4"),
        {"type":"doughnut","data":{"labels":["昨日注册人数","总人数","今日注册人数"],
         "datasets":[{"label":"My First Dataset","data":[120,120,120],
        "backgroundColor":["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"]
        }]}});
    new Chart(document.getElementById("chartjs-5"),
            {"type":"doughnut","data":{"labels":["昨日留言","总留言","今日留言"],
                    "datasets":[{"label":"My First Dataset","data":[120,120,120],
                        "backgroundColor":["rgb(255, 99, 132)","rgb(54, 162, 235)","rgb(255, 205, 86)"]
            }]}});
</script>

<h3 class="col-sm-12">用户留言详请</h3>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Responsive Hover Table</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Reason</th>
                    </tr>
                    <tbody id="content">
                  
                    {{range $i,$v := .object.Object}}
                    <tr class="me">
                        <td>{{$v.Id}}</td>
                        <td>{{$v.Name}}</td>
                        <td>{{$v.CreateTime}}</td>
                        <td>{{$v.Content}}</td>
                    </tr>
                    {{end}}
                    </tbody></table>
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right" id="mypage" url={{.url}}>
                    {{if  .object.Pref}}
                        <li class="page" id="prev" value=0><a href="#"  ><<</a></li>
                    {{else}}
                        <li class="disabled page" id="prev" value=0><a href="#" ><<</a></li>
                    {{end}}
                        <li class=""><a href="#" id="pages" >{{.object.Page}}</a></li>
                    {{if  .object.Next}}
                        <li class="page" id="next" value=1><a href="#"  >>></a></li>
                    {{else}}
                        <li class="disabled page" id="next" value=1><a href="#" >>></a></li>
                    {{end}}
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<script type="text/javascript">

    // 准备字符串
    function PrepareString(result){
        console.log(result)
        for (var i = 0;i<result.Object.length;i++){
             var text = " <tr>"+
                    "<td>"+result.Object[i].Id+"</td>"+
                    "<td>"+result.Object[i].Name+"</td>"+
                    "<td>"+result.Object[i].CreateTime+"</td>"+
                    "<td>"+result.Object[i].Content+"</td>"+
                "</tr>"
            $("#content").append(text)
        }
    }
</script>